<div class="panel panel-primary">
  <div class="panel-heading">
    <h1><%= @artist.name %></h1></div>

  <div class="panel-body">
    <% @artist.songs.each do |song| %>
      <h3><%= song.title %></h3>
      <p>Year of release: <%= song.year_of_release %>

      <%= link_to "Delete", artist_song_path(@artist.id, song.id), method: :delete, remote: true, data: { confirm: "Are you sure to delete #{song.title}?"}, class: "btn btn-default-xs" %>

    <% end %>

    <hr>
    <%= render 'songs/form', remote: true %>

</div>

</div>

<%= link_to "Back", artists_path, class: "btn btn-default-xs" %>
<%= link_to "Delete album", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-default-xs" %>
